# dependencies
node_modules/

# next.js
.next/
out/

# env files (secrets)
.env
.env.local
.env.*.local
.env.dev
.env.ppe
.env.prod

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
og-preview/
